body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #eee;
    font-size: 12px;
    background: url("../images/defoot-bg.png");
    background-repeat: repeat;
}
p {
  font-size: 14px;
  line-height: 1.5;
}
ul.browser-default li {
  list-style-type: circle;
}
.dropdown-content {
  background-color: #263238;
  width: auto !important;
}
.dropdown-content li a {
  color: #f5f5f5;
  border-bottom: 1px solid grey;
  padding: 6px 16px;
  line-height: inherit;
  font-size: 14px;
}
.dropdown-content li {
  min-height: 15px;
}
.dropdown-content li:hover {
  background: #40545E;
}
.dropdown-content li:hover a {
  color: #30D0D0;
  border-bottom: 1px solid #30D0D0;
} 
.sub-title {
  margin: 15px 0;
  color: grey;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
}
#defoot-logo {
  position: relative;
  padding: 0;
  margin: 0;
}
#defoot-logo .brand-logo img{
  width: 180px;
}
main {
  flex: 1 0 auto;
}
.nav-extended {
  background-color: #1C262B;
  border-bottom:5px solid #30D0D0;
}
.body-section {
  background-color: #fff;
  min-height: 700px;
  height: auto;
  margin-bottom: 50px;
  padding: 0 10px;
}
.main-content {
   margin-top: 42px;
}
.news-ticker {
  margin-top: 20px;
}
.custom-breadcrumb-wrapper
{
  margin: 0 30px;
  padding: 20px;
  height: 35px;
}
.custom-breadcrumb-wrapper > a.active{
  color: white;
}
.custom-breadcrumb {
  background-color: #263238;
  color: grey;
  width: 10%;
  padding: 10px 15px;
  font-size: 12px;

}
.card .card-image img {
  border-radius: 0;
}
#hm-cards1 a.card-title {
  font-size: 14px;
  font-weight: 500;
}
#hm-cards1 a.card-title:hover {
  color: #30D0D0;
}
.home-tabs {
  margin: 0;
  background-color: #263238;
}
.home-tabs .card {
  width: 60%;
}
.home-tabs .card .card-title a {
  color: green;
  font-size: 15px;
  font-weight: 400;
}
.article-body {
  background-color: #fff;
  margin: 0 10px;
}
.share-group {
  display: table;
  margin: 10px auto;
}
.share-group a {
  font-size: 11px;
}
.share-group a.btn {
  margin-bottom: 15px;
  margin-right: 10px;
}
.article-desc {
  margin: 20px 0;
}
.fixed-action-btn {
  float: right;
  position: relative;
  right: 0;
  bottom: 0;
}
.side-content {
  margin-top: 25px;
  padding-right: 30px !important;
}
.side-content > .collection > .collection-header {
  background-color: #1C262B;
}
.side-content > .collection > .collection-item {
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
}
.side-content > .collection li:hover {
  margin-left: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.side-content > .collection > .collection-item > .pagination > li> a {
  font-size: 11px;
  color: darkslategrey;
}
.side-content > .collection > .collection-item > .pagination li.active {
  background-color: #1C262B;
}
.side-content > .collection > .collection-item > .pagination li.active a {
  color: white;
}
.side-content > .collection > .collection-item > .pagination li i {
  font-size: 15px;
}
.side-content .card {
  margin-top: 15px;
}
.side-content .card .card-content iframe {
  width: 100%;
}
.feeds-time {
  color: white;
  margin-right: 10px;
  background-color: #009688;
  padding: 2px;
  border-radius: 4px;
}
.main-content, .side-content {
  min-height: 600px;
}
.nav-wrapper form {
  margin-top: 20px;
  margin-bottom: 0;
}
.side-content .survey .motion {
  margin: 10px 0;
  font-size: 15px;
}
/*
.side-content .survey .opinion p {
  background-color: yellowgreen;
  padding: 2px 5px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-bottom: 5px;
}
*/
.side-content .fb .card-title {
  border-bottom: 2px solid #3b5998;
  margin-bottom: 5px !important;
}
.side-content .tw .card-title {
  border-bottom: 2px solid #4099FF;
}
.survey .opinion .yes {
  position: absolute;
  right: -60px;
  top: 5px;
  color: green;
}
.survey .opinion .no {
  position: absolute;
  right: -30px;
  bottom: 5px;
  color: red;
}
.survey .card-title {
  border-bottom: 2px solid green;
}
.nav-wrapper form input#search{
  margin-bottom: 0px;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 14px;
  padding-left: 20px;
  float: right;
  width: 30%;
  line-height: 1.5;
}
.nav-wrapper form input#search:hover, .nav-wrapper form input#search:active, .nav-wrapper form input#search:focus
{
  color: #eee;
  background-color: #263238;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.nav-wrapper form input#search:active {
  width: 100%;
}
.comments-section {
  margin-top: 30px;
}
.page-footer
{
  background-color: #1C262B;
}
.page-footer h6 > a{
  color: #f5f5f5;
}
.page-footer ul>li>a {
  color: #9E9E9E;
}
.page-footer ul>li>a:hover {
  color: #e0e0e0;
}
.footer-copyright {
  background-color: #263238 !important;
}
.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  text-align: center;
  margin-right: 5px;
}
.circle-1 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  text-align: center;
  border: 2px solid #546E7A;
  margin-right: 5px;
}
.circle-1:hover {
  border-color: #f1f1f1;
}
.circle-1 i {
  color: #fff;
  position: relative;
  bottom: -10px;
}
.facebook:hover {
  background-color: #3b5998;
}
.twitter:hover {
  background-color:#4099FF;
}
.youtube:hover {
  background-color: #bb0000;
}
.instagram:hover {
  background-color: #8a3ab9;
}
.text-small {
  font-size: 12px;
}
.featured-article {
  position: relative;
  float: left;
  padding: 0;
  width: 100%;
}
/*requires tweaking*/
.featured-article img {
  width: 100%;
  height: auto;
}
/*-----------------*/
.a-la-une {
  position: absolute;
  color: white;
  padding: 5px 15px;
  margin: 0;
  top: 0;
  left: 0;
  font-weight: 600;
  background-color: #30D0D0;
}
.content-overlay {
  position:absolute;
  bottom:5px;
  left:0px;
  width:100%;   
  background-color:black;  
  font-family: inherit;      
  opacity:0.7;
  filter:alpha(opacity=70);
  padding: 15px 15px;
}
.content-overlay a {
  margin: 0;
  color: white;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dotted {
  border: 1px dotted grey;
}
.mt-0{margin-top: 0;}
.mb-0{margin-bottom: 0;} 
.mr-0{margin-right: 0}
.ml-0{margin-left: 0;}
.breadcrumb-wrapper .row{
  margin-bottom: 5px;
  margin-top: 20px;
}
.tab {
    border-right: 2px solid #9e9e9e;
}
.tabs .indicator {
    background-color: #00A8A8;
}
.tabs .tab a {
    font-weight: bolder;
    text-transform: uppercase;
    color: #30D0D0;
}
.tabs .tab a:hover {
    color: #f5f5f5;
}
.tabs .tab a.active {
    color: #f5f5f5;
}
.bread-crumb {
    max-width: 40%;
    padding: 5px 5px;
    background-color: #263238;
    display: inline-block;
}
.bread-crumb a {
    font-size: 11px;
    text-transform: uppercase;
    color: grey;
}
.bread-crumb a.active {
    color: white;
}
.bread-crumb a.active::after {
    content: "";
}
.bread-crumb a::after {
    content: ">";
    padding: 0 10px;
}
.black-text a {
  font-size: 14px;
  text-transform: uppercase;
}
.tabs {
    background-color: #1C262B;
    margin-bottom: 20px;
}
.title {
  font-size: 24px;
  font-weight: 500;
  padding: 10px 0;
}
.club-logo {
  padding: 0;
}
.club-logo img {
  max-width: 100%;
  max-height: 40px;
}
.results-data {
  min-height: 450px;
  border: 1px solid #ddd;
}
.med-title {
  font-weight: 300;
  padding: 30px 0;
}
hr.hr-normal {
  margin-bottom: 15px;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
img.team_flag {
  width: 32px;
  max-height: 15px;
}
.collection {
  margin-top: 0;
}
.rec-vids h5 {
  margin: 40px 10px 20px 10px;
  border-bottom: 2px solid teal;
}
/* media styles */
@media only screen and (min-width: 768px)
{
  .nav-wrapper {
    padding: 0 2%;
  }
  div.main-content {
      margin-top: 10px;
  }
}
@media only screen and (max-width: 767px)
{
    .page-footer .row, .social-icons {
      text-align: center;
    }
    nav .brand-logo {
      left: 20%;
    }
    #defoot-logo .brand-logo img {
      position: absolute;
      top: 48px;
      left: 50px;
    }
    .article-body {
      padding: 0px;
    }
    .content-overlay {
      padding: 5px 10px;
    }
    .content-overlay h6 {
      font-size: 16px;
    }
    .art-text {
      padding: 16px !important;
    }
    .custom-breadcrumb-wrapper {
      margin: 0 30px;
      padding: 20px 0px;
      height: 35px;
    }
    .dropdown-button:hover {
      color: teal;
    }
    .dropdown-content li a {
      margin-left: 10%;
      color: teal;
      font-size: 12px;
    }
    .card-panel > .row {
      padding: 0;
    }
    .bread-crumb {
      max-width: 100%;
    }
    .social-icons {
      display: inline-flex;
    }
    div.main-content {
      margin-top: 10px;
    }
    .home-tabs {
      display: none;
    }
}
@media only screen and (max-width: 991px)
{
}

@media only screen and (min-width: 992px) {
  div.main-content {
      margin-top: 25px;  
  }
  #nav-mobile {
    margin-right: 16%;
  }
  #defoot-logo .brand-logo img{
    width: 180px;
    margin-top: 10px;
    margin-left: 135px;
  }
}