@media (max-width: 320px)
{
    .main .mailing-list {
        position: absolute;
        margin-top: 20px;
        top: -78%;
        right: 10%;
    }
}
@media (max-width: 375px)
{
    .main .mailing-list {
        margin-top: 20px;
        top: 8%;
        right: 15%;
    }
}
@media (max-width: 414px)
{
    .main .mailing-list {
        margin-top: 20px;
        top: -5%;
        right: 20%;
    }
}
@media (max-width: 768px) 
{
    .main .mailing-list .mailing-list-heading 
    {
        font-size: 24px;
    }

    .main .mailing-list {
        margin-top: 20px;
        top: -50%;
        right: 35%;
    }
}
@media (min-width: 769px)
{
    .main .mailing-list {
        margin-top: 20px;
        top: -85%;
        right: 0%;
    }
}