.vscode/*
bx-slider/*
defoot_logo/*
docs/*
flags/*
font-awesome-4.7.0/*
fonts/*
images/*
materialize/*
photoshop_files/*
playerProfilePic/*
pluggins/*
project_design_files/*
screenshots/*
team_logos/*
vendor/*
favicon.*