<!DOCTYPE html>
<html>
  <head>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../css/main.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css" media="screen, projection"/>

    <link rel="stylesheet" href="../css/page_home.css">
    <title>Defoot - modal</title>
    <style>
    </style>
  </head>

  <body>
      <nav class="nav-extended z-depth-4">
          <div class="nav-wrapper">
            <div class="row" style="margin-bottom: 0px;">
              <div class="col m3 s6">
                    <a href="../home.html" class="brand-logo"><img src=",,/defoot_logo/rsz_logo1.png" alt="defoot logo"></a>
              </div>
              <div class="col m3 offset-m6 s6">
                <form>
                  <div class="input-field">
                    <input id="search" type="search" placeholder="search..." required>
                  </div>
                </form>
              </div>
            </div>
            
            <a href="#" data-activates="mobile-content" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li>
                    <a href="#" class="dropdown-button" data-activates="cameroun-dd" data-beloworigin="true" data-hover="true">CAMEROUN<i class="material-icons right">arrow_drop_down</i></a>
                    <ul class="dropdown-content" id="cameroun-dd">
                        <li><a href="#">Actualite</a></li>
                        <li><a href="#">MTN Elite One</a></li>
                        <li><a href="#">MTN Elite Two</a></li>
                        <li><a href="#">Coupe du Cameroun</a></li>
                    </ul>
                  </li>

                  <li>
                    <a href="#" class="dropdown-button" data-activates="afrique-dd" data-beloworigin="true" data-hover="true">AFRIQUE<i class="material-icons right">arrow_drop_down</i></a>
                    <ul class="dropdown-content" id="afrique-dd">
                      <li><a href="#">Ligue des Champions</a></li>
                      <li><a href="#">Coupes de Confederation</a></li>
                      <li><a href="#">CHAN</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="dropdown-button" data-activates="monde-dd" data-beloworigin="true" data-hover="true">MONDE<i class="material-icons right">arrow_drop_down</i></a>
                    <ul class="dropdown-content" id="monde-dd">
                      <li><a href="#">Nos Lions</a></li>
                      <li><a href="#">Ligue des Champions</a></li>
                      <li><a href="#">Europa Ligue</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="dropdown-button" data-activates="edc-dd" data-beloworigin="true" data-hover="true">EDC<i class="material-icons right">arrow_drop_down</i></a>
                    <ul class="dropdown-content" id="edc-dd">
                      <li><a href="#">Masculine</a></li>
                      <li><a href="#">Feminine</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="dropdown-button" data-activates="competitions-dd" data-beloworigin="true" data-hover="true">COMPETITIONS<i class="material-icons right">arrow_drop_down</i></a>
                    <ul class="dropdown-content" id="competitions-dd">
                      <li><a href="#">Coupe du Monde</a></li>
                      <li><a href="#">CAN</a></li>
                      <li><a href="#">Confederations Cup</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">CAN 2019</a>
                  </li>
              </ul>
              <ul class="side-nav" id="mobile-content">
                  <div class="nav-wrapper yellow darken-2">
                    <a href="#" class="brand-logo center">LOGO</a>
                  </div>
                  <li>
                    <a href="#" class="dropdown-button" data-activates="mobile-cameroun" data-beloworigin="true"><i class="material-icons">chevron_right</i>CAMEROUN</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-button" data-activates="mobile-afrique" data-beloworigin="true"><i class="material-icons">chevron_right</i>AFRIQUE</a>
                  </li>
                  <li><a href="#" class="dropdown-button" data-activates="mobile-monde" data-beloworigin="true"><i class="material-icons">chevron_right</i>MONDE</a></li>
                  <li><a href="#" class="dropdown-button" data-activates="mobile-edc" data-beloworigin="true"><i class="material-icons">chevron_right</i>EDC</a></li>
                  <li><a href="#" class="dropdown-button" data-activates="mobile-competitions" data-beloworigin="true"><i class="material-icons">chevron_right</i>COMPETITIONS</a></li>
                  <li><a href="#" >CAN 2019</a></li>
              </ul>

              <ul class="dropdown-content" id="mobile-cameroun">
                <li><a href="#">Actualite</a></li>
                <li><a href="#">MTN Elite One</a></li>
                <li><a href="#">MTN Elite Two</a></li>
                <li><a href="#">Coupe du Cameroun</a></li>
              </ul>
              <ul class="dropdown-content" id="mobile-afrique">
                <li><a href="#">Ligue des Champions</a></li>
                <li><a href="#">Coupes de Confederation</a></li>
                <li><a href="#">CHAN</a></li>
              </ul>
              <ul class="dropdown-content" id="mobile-monde">
                <li><a href="#">Nos Lions</a></li>
                <li><a href="#">Ligue des Champions</a></li>
                <li><a href="#">Europa Ligue</a></li>
              </ul>
              <ul class="dropdown-content" id="mobile-edc">
                <li><a href="#">Masculine</a></li>
                <li><a href="#">Feminine</a></li>
              </ul>
              <ul class="dropdown-content" id="mobile-competitions">
                <li><a href="#">Coupe du Monde</a></li>
                <li><a href="#">CAN</a></li>
                <li><a href="#">Confederations Cup</a></li>
              </ul>
          </div>
      </nav>

      <main class="container body-section z-depth-1">
        <div class="row" style="margin-bottom: 80px;">
           <div class="col s12 m8 offset-2">
                <div class="modal" id="modal1">
                    <div class="modal-content">
                        <h5>Cameroon Vs Maroc, 15th Sept, 2017</h5>
                        <div class="row">
                          <div class="col m6">
                              <ul class="collection">
                                <li class="collection-item">Cameroon <a href="#" class="secondary-content">1</a> </li>
                              </ul>
                              <ul class="collection with-header">
                                <li class="collection-header amber">Goals</li>
                                <li class="collection-item">Samuel Eto'o</li>
                              </ul>
                              <ul class="collection with-header">
                                <li class="collection-header green">First 11</li>
                                <li class="collection-item">
                                  Benjamin Moukandjo
                                  <a href="!#" class="secondary-content">Striker</a>
                                </li>
                                <li class="collection-item">Benjamin Moukandjo</li>
                                <li class="collection-item">Benjamin Moukandjo</li>
                                <li class="collection-item">Benjamin Moukandjo</li>
                                <li class="collection-item">Benjamin Moukandjo</li>
                              </ul>
                              <ul class="collection with-header">
                                  <li class="collection-header amber">Substitutes</li>
                                  <li class="collection-item">Samuel Eto'o <a href="#" class="secondary-content">12'</a></li>
                                </ul>
                            </div>
                          <div class="col m6">
                              <ul class="collection">
                                  <li class="collection-item">Maroc <a href="#" class="secondary-content">0</a> </li>
                              </ul>
                                <ul class="collection with-header">
                                  <li class="collection-header amber">Goals</li>
                                  <li class="collection-item">Samuel Eto'o <a href="#" class="secondary-content">12'</a></li>
                                </ul>
                                <ul class="collection with-header">
                                  <li class="collection-header green">First 11</li>
                                  <li class="collection-item">
                                    Benjamin Moukandjo
                                    <a href="!#" class="secondary-content">Striker</a>
                                  </li>
                                  <li class="collection-item">Benjamin Moukandjo</li>
                                  <li class="collection-item">Benjamin Moukandjo</li>
                                  <li class="collection-item">Benjamin Moukandjo</li>
                                  <li class="collection-item">Benjamin Moukandjo</li>
                                </ul>
                                <ul class="collection with-header">
                                    <li class="collection-header amber">Substitutes</li>
                                    <li class="collection-item">Samuel Eto'o</li>
                                  </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- modal -->
                <div class="card">
                    <div class="card-content">
                        <div class="card-title center">
                            Results
                        </div>
                        <div class="row">
                            <div class="col m12 l8 offset-l2">
                                <table class="bordered">
                                    <thead>
                                        <th>Date</th>
                                        <th>Teams</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="#modal1" class="modal-trigger">Cameroun</a> <span class="badge">1</span></td><td><span class="badge left">0</span> <a href="#modal1" class="modal-trigger">Maroc</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
      </main>

      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col m4 s12">
              <h6><a>CAMEROUN</a></h6>
              <ul>
                <li><a href="#!">Ligue 1</a></li>
                <li><a href="#!">Ligue 2</a></li>
                <li><a href="#!">Coupe du CAmeroun</a></li>
              </ul>
              <br>
              <h6><a href="#">AFRIQUE</a></h6>
              <ul>
                <li><a href="#!">Ligue des Champions</a></li>
                <li><a href="#!">Coupe des Confederations</a></li>
              </ul>
              <br>
              <h6><a>EQUIPE DU CAMEROUN</a></h6>
              <ul>
                <li><a href="#!">Masculine</a></li>
                <li><a href="#!">Feminine</a></li>
              </ul>
              <br>
              <h6><a>COMPETITIONS</a></h6>
              <ul>
                <li><a href="#">Coupe du Monde</a></li>
                <li><a href="#">Coupe d'Afrique des Nations</a></li>
                <li><a href="#">Coupe des Confederations</a></li>
              </ul>
            </div>
            <div class="col m4 s12">
              <h6><a href="#">PROFIL 237</a></h6>
              <h6><a href="#">ENTRETIEN</a></h6>
              <h6><a href="#"></a></h6>
              <br/>
              <h6><a href="#">CONTACT</a></h6>
              <h6><a href="#">NOTRE REDACTION</a></h6>
            </div>
            <div class="col m4 s12">
              <a href="#" class="brand-logo green-text text-darken-1">DEFOOT</a>
              <p class="grey-text text-lighten-4">Suivez-nous egalement sur</p>

              <ul class="valign-wrapper social-icons center">
                <li class="circle-1 valign facebook"><a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                <li class="circle-1 valign twitter"><a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
                <li class="circle-1 valign youtube"><a href="#"><i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a></li>
              </ul>

            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          <div class="right">
            Copyright © 2017 ajdevelopers
          </div>
          <strong><a class="grey-text text-lighten-4 left" href="#!"><span class="green-text">+</span><span class="red-text">DE</span><span class="yellow-text">FOOT</span> - <span class="small">La vitrine du football au Cameroun</span></a></strong>
          </div>
        </div>
      </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <script>
        $('#modal1').modal();
    </script>
  </body>
</html>