<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Defoot - Coming Soon!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <!-- Theme stylesheet-->
    <link rel="stylesheet" href="../css/style.default.css" id="theme-stylesheet">
    <link rel="stylesheet" href="../css/pre-launch.css">
    <link type="text/css" rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css" media="screen, projection"/>
    <!-- Favicon-->
    <style>
      a.carousel-item img {
        width: 100%;
        position: relative;
        height: auto;
      }
    </style>
  </head>
  <body>
    <!-- carousel -->
    <!--
    <div class="carousel carousel-slider">
        <a class="carousel-item" href="#one!"><img src="../images/carousel/1.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="../images/carousel/2.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="../images/carousel/3.jpg"></a>
    </div>
     -->
    <div style="background-image: url('../images/carousel/1.jpg');" class="main"> 
      <div class="overlay"></div>
      <div class="container">
        <p class="social"><a href="#" title="" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" title="" class="twitter"><i class="fa fa-twitter"></i></a><a href="#" title="" class="gplus"><i class="fa fa-google-plus"></i></a><a href="#" title="" class="instagram"><i class="fa fa-instagram"></i></a></p>
        <h1 class="cursive">Defoot</h1>
        <h2 class="sub">Launching soon, watch the space </h2>
        <div class="mailing-list">
          <h3 class="mailing-list-heading">Join our mailing list and we will notify you once it is ready!</h3>
          <div class="row">
            <form class="form-inline">
              <div class="form-group">
                <label for="email" class="sr-only"></label>
                <input type="email" placeholder="jane.doe@example.com" id="email" class="form-control transparent">
              </div>
              <button class="btn btn-danger">subscribe </button>
            </form>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>&copy;2017 Defoot</p>
            </div>
          </div>
        </div>
      </div>
    </div>
 
    <!-- JAVASCRIPT FILES -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <!--
      <script>
        $('.carousel.carousel-slider').carousel({fullWidth: true});
        autoplay()   
          function autoplay() {
              $('.carousel.carousel-slider').carousel('next');
              setTimeout(autoplay, 8000);
          }
      </script> 
    -->
  </body>
</html>